<div class="container"
<div class="row center">
  <div class="column">
  <%allblogs = @blogs.reverse%>
  <%allblogs.each do |blo|%>
  <% user = User.find(blo.user_id)%>
  <%= user.first_name %><br>
  <%=blo.title%><br>
  <%=blo.content%>
  <form action=<%=blo.id%> method="post">
    <input type="submit" name="delete" value="Delete Article" onclick="alert('Article Deleted!')">
  </form>
</li>
<br>
<%end%>
</div>
</div>
</div>
