<div class="container">
  <%allblogs = @blogs.reverse%>
  <%allblogs.each do |blo|%>
  <div class="w3-card-4">
    <header class="w3-container card-format">
      <h3><%=blo.title%></h3>
    </header>
    <div class="w3-container">
      <p><%=blo.content%></p><br>
    </div>
    <footer class="w3-container card-format">
      <form action=<%=blo.id%> method="post">
        <input id="button-style" type="submit" name="delete" value="Delete Article" onclick="alert('Article Deleted!')">
      </form>
    </footer>
    <br>

  </div>
  <%end%>
