<div class="container"
<%allblogs = @blogs.reverse%>
<%allblogs.each do |blo|%>
<% next if blo.user_id == session['user_id'] %>
<% user = User.find(blo.user_id)%>
<div class="w3-card-4">
  <header class="w3-container card-format">
    <h3><%=blo.title%></h3>
  </header>
  <div class="w3-container">
    <%=blo.content%>
  </div>
  <footer class="w3-container card-format">
    <h5>Posted By: <%= user.first_name %></h5>
  </footer>
  <br>
  <%end%>
</div>
