<div class="container medium">
  <h1>Write your blog</h1>
  <form class="" action="/blogs/blog" method="post">
    Title of your blog<br>
    <input type="text" name="title" value=""><br>
    Write your content<br>
    <textarea name="content" rows="30" cols="80" style="height: 400px; resize: none;"></textarea><br>
    <input id="button-style" type="submit" name="submit" value="Post your blog">
  </form>
</div>
