<h1>Write your blog</h1>

<form class="" action="/blogs/blog" method="post">
  Title of your blog<br>
  <input type="text" name="title" value=""><br>
  Write your content<br>
  <textarea name="content" rows="8" cols="80"></textarea><br>
  <input type="submit" name="submit" value="Post your blog">
</form>
