<div class="container"
<div class="w3-card-4">
  <header class="w3-container card-format">
<h3><%= @blog.title %></h3>
</header>
<div class="w3-container">
<p><%= @blog.content %></p><br>
</div>
<footer class="w3-container card-format">
<h5></h5>
</footer>
<br>
</div>
</div>
