<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users/signup">Sign Up</a></li>
    <li><a href="/login">Log In</a></li>
    <li><a href="/blogs/blog">Post A Blog</a></li>
  </ul>
</nav>

<h1>Ruck'em Rugger</h1>
