<div class="container small">
  <h1>Log In</h1>
  <form class="" action="/login" method="post">
    Email<br>
    <input type="email" name="email" value=""><br>
    Password<br>
    <input type="password" name="password" value=""><br>
    <input type="submit" name="submit" value="Log In">
  </form>
</div>
