<div class="container small">
  <h1>Create an account</h1><br>
  <form class="user" action="/users/signup" method="post">
    First Name<br>
    <input type="text" name="first_name" placeholder="Enter your first name"><br>
    Last Name<br>
    <input type="text" name="last_name" placeholder="Enter your last name"><br>
    Email<br>
    <input type="email" name="email" placeholder="Enter your email"><br>
    Enter your date of birth<br>
    <input type="date" name="birthday"><br>
    Password<br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input id="button-style" type="submit" name="submit" value="Submit">
  </form>
</div>
